body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.editor {
  margin: 0 auto;
  width: 100%;
  border: 1px solid;
}

.editor__content {
  display: flex;
}


.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 10%;
}

.editor__header {
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.headerTab {
  border: 1px solid;
  padding: 20px;
  border-bottom: none;
}

.sidebar__item, .sidebar__new {
  padding: 10px;
  border: 1px solid;
}

.attributes {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  border: 1px solid; 
  flex-grow: 1;
}

.attributesEditor {
  display: flex;
  flex-direction: column;
  flex: 1;
}


.attributesEditor__item {
  display: flex;
  justify-content: space-between;
}

.attributesEditor__item label {
  flex: 1;
}

.attributesEditor__item input {
  flex: 6;
}

.attributesEditor__item textarea {
  flex: 6;
}
