.editor {
  margin: 0 auto;
  width: 100%;
  border: 1px solid;
}

.editor__content {
  display: flex;
}

.main__attributes {
  border: 1px solid;
}

.main__sidebar {
  display: flex;
  flex-direction: column;
}

.editor__header {
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.header__tab {
  border: 1px solid;
  padding: 20px;
  border-bottom: none;
}

.sidebar__item, .sidebar__new {
  padding: 10px;
  border: 1px solid;
}
