/* 
 * primary color: #498AAA
 * secondary color: #ABC9D4
 * light color: #FCFFF8
 * offset color: #CBB074
 *
 * */

* { box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #498AAA;
}
.editor {
  margin: 50px;
  color: #FCFFF8;
  font-family: helvetica;
  font-size: 18px;
}

.editor__content {
  display: flex;
  flex-direction: column;
}



.editor__header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.headerTab {
  border: 1px solid #ABC9D4;
  padding: 20px;
  border-bottom: none;
  flex: 1;
  text-align: center;
}


.headerTab--active {
  background-color: #CBB074;
}

.attributesEditor {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
}


.attributes input, .attributes textarea {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #ABC9D4;
  background: transparent;
  color: inherit;
}

.attributes input:focus, .attributes textarea:focus {
  outline:none; 
  border-color: #FCFFF8;
}

.attributesEditor__item {
  display: flex;
  margin-bottom: 50px;
}

.attributesEditor__item label {
  flex: 0 1 150px;
}

.attributesEditor__item input {
  flex: 1 1 0px;
}

.attributesEditor__item textarea {
  flex: 1 1 0px;
}

.attributes button, .export {
  display: inline-block;
  font-size: inherit;
  padding: 10px;
  border: 1px solid #ABC9D4;
  background-color: #193441;
  color: #FCFFF5;
  text-decoration: none;
}

.accordionPanel {
  display: none;
}

.accordionPanel--active {
  display: block;
}

.accordionButton {
  border: 1px solid;
  padding: 10px;
  border: 1px solid #ABC9D4;
  background-color: #193441;
  display: flex;
  justify-content: space-between;
}

.accordionButton:after {
  content: "+"
}

.accordionButton--active {
  background-color: #CBB074;
}

